.background_image {
  background-image: url("../../../public/img/Home/hero_background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
